body{
    font-size: medium;
    color: rgb(216, 219, 222);
    background-color: rgb(11, 11, 11);
    text-align: center;
}
.drop{
    
    background-color: aqua;
    
}
.rec{
    /* color:rgb(17, 0, 255); */
    background-color:rgb(235, 235, 239);
}
.Complete{
   background-color: rgb(116, 237, 116);
}
.prog{
    background-color: rgba(238, 23, 23, 0.694);
}
